**/__pycache__
notebooks/.ipynb_checkpoints/**
**/**.pyc
**/.pyc
*.pyc
/**.pyc
*.pyc
/**.db
*.xlsx
*.tfstate
*.backup
*.gitkeep

.DS_Store
.idea/
*.swp
*.vscode
.swp

/lambda_payloads/
/.ipynb_checkpoints/
/certs/
/notebooks/.ipynb_checkpoints/

terraform/.DS_Store
terraform/.terraform.lock.hcl
terraform/.terraform/
terraform/logs/

dbt_transformations/dbt_packages/
dbt_transformations/logs/
dbt_transformations/target/
